html{
    font-family: "Open Sans",sans-serif;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: #ffffff;
}
#navbar{
    color:#ffffff;
    display: flex;/*yanyana olur*/
    justify-content: space-between;/*aralarında bosluk olur*/
    align-items: center;
    padding: 0 0.75rem;
    height: 70px;
}
#navbar ul{
    list-style-type: none;
    display: flex;
    align-items: center;
}
#navbar ul li a{
    padding:1.5rem ;
   
}
#navbar ul li a:hover{
    
    background: #336ea2;
    border-radius: 4px;
}
