#navbar{
  flex-direction: column;  
  padding-top: 1rem;
  padding-bottom: 1rem;
  overflow: hidden;/*taşmayı engeller*/
  height: 80px;
}
#navbar ul li a{
 
  padding:0.5rem ;
 
}
#training .items
{
  flex-direction: column;
}
#training .items .item{
  width: 100%;
}
.courses .course{
  flex-direction: column;
}